html {
  background: #941;
}

body {
  background: white;
  max-width: 768px;
  padding: 0 30px;
  margin: 0 auto;
}

h1 {
  margin-top: 0.5em;
}

#header {
  background: #963;
  margin: 0 -30px;
}

#header #title {
  text-align: right;
  color: white;
  font-size: 1.5em;
  padding: 0.7em 0.7em 0 0;
}

#header #title a { color: white; }

#header #byline {
  text-align: right;
  font-style: italic;
  font-size: 1.3em;
  padding: 0 0.7em 0.7em 0;
  color: #b85;
}

#footer {
  background: #963;
  margin: 1em -30px 0;
}

#footer p {
  text-align: right;
  margin: 0; 
  padding: 0.5em 0.7em;
}

#footer a {
	color: white;
}

table tbody td {
  padding: 0;
}

table td input {
  margin-bottom: 0 !important;
}

table thead {
  background: transparent !important;
}

th {
  padding: 0 0 1em 0 !important;
}

.output label {
  font-weight: bold !important;
  font-size: 20px !important;
  margin-bottom: 1em;
}

.input-group {
  width: 10em;
}